body {
    margin: 0px;
    font-family: "SoDo Sans SemiBold", Helvetica Neue, Helvetica, Arial,
        sans-serif;
}
.navbar-container {
    box-shadow: 0px 4px 5px 0px rgba(191, 122, 122, 0.71);
    -webkit-box-shadow: 0px 4px 5px 0px rgba(191, 122, 122, 0.71);
    -moz-box-shadow: 0px 4px 5px 0px rgba(191, 122, 122, 0.71);
}
.navbar {
    max-width: 1560px;
    padding: 20px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.navbar-left svg {
    width: 50px;
    margin-right: 20px;
}

.navbar-left div {
    text-transform: uppercase;
    font-weight: 600;
}
.navbar-left div:hover,
.find-a-store:hover {
    color: #00754a;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-left > *,
.navbar-right > * {
    margin: 10px;
}

.store-icon {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.sign,
.join {
    font-weight: 500;
    border: 1px solid black;
    border-radius: 40px;
    padding: 5px 20px 5px 20px;
}

.join{
    background-color: black;
    color: white;
}

.join:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.sign:hover {
    background-color: rgba(0, 0, 0, 0.06);
}
.product img{
    max-width: 100%;
}
.product {
    display: flex; 
}
.product-button{
    display: flex;
    justify-content: center;
    border: 0px solid ;
    padding: 5px 20px 5px 5px;
    border-radius: 20px;
}
.product-left , 
.product-right {
    max-width: 50%;
}
.product-text {
    text-align: center;
    color: white;
    padding: 50px 10px 10px 100px;
}
.product-abc {
    text-align: center;
    color: white;
    padding: 10px 0px 10px 100px;
}
